<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <style>
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.min.js"></script>
</head>
<body>
  <main class="container" id="app">
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th v-on:click="sortBy('id')">id <span v-show="sort=='id'" class="glyphicon" v-bind:class="{'glyphicon-menu-down': order > 0, 'glyphicon-menu-up': order < 0}"></span></th>
              <th v-on:click="sortBy('grade')">grade <span v-show="sort=='grade'" class="glyphicon" v-bind:class="{'glyphicon-menu-down': order > 0, 'glyphicon-menu-up': order < 0}"></span></th>
              <th v-on:click="sortBy('composer')">composer <span v-show="sort=='composer'" class="glyphicon" v-bind:class="{'glyphicon-menu-down': order > 0, 'glyphicon-menu-up': order < 0}"></span></th>
              <th v-on:click="sortBy('name')">piece <span v-show="sort=='name'" class="glyphicon" v-bind:class="{'glyphicon-menu-down': order > 0, 'glyphicon-menu-up': order < 0}"></span></th>
              <th v-on:click="sortBy('benefits')">Main Technical Difficulty or Benefit <span v-show="sort=='benefits'" class="glyphicon" v-bind:class="{'glyphicon-menu-down': order > 0, 'glyphicon-menu-up': order < 0}"></span></th>
              <th v-on:click="sortBy('info')">Other Notes & Comments <span v-show="sort=='info'" class="glyphicon" v-bind:class="{'glyphicon-menu-down': order > 0, 'glyphicon-menu-up': order < 0}"></span></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="piece in pieces | orderBy sort order | paginate page count">
              <td>{{ piece.id }}</td>
              <td>{{ piece.grade }}</td>
              <td>{{ piece.composer }}</td>
              <td>{{ piece.name }}</td>
              <td>{{ piece.benefits }}</td>
              <td>{{ piece.info }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="btn-group" role="group">
          <button class="btn btn-default" v-on:click="setPage(0)"><<</button>
          <button class="btn btn-default" v-on:click="setPage(page - 1)"><</button>
          <button class="btn btn-default"
            v-bind:class="{'btn-primary': n == page}"
            v-for="n in pagesNumbers | nearestPages page"
            v-on:click="setPage(n)"
            >{{ n + 1 }}</button>
          <button class="btn btn-default" v-on:click="setPage(page + 1)">></button>
          <button class="btn btn-default" v-on:click="setPage(pagesNumbers.length - 1)">>></button>
        </div>
      </div>
      </div>
    </div>
  </main>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        order: 1,
        page: 0,
        count: 10
      },
      methods: {
        sortBy: function(field) {
          if (this.$get('sort') == field) {
            var order = this.$get('order') || 1;
            this.$set('order', -order)
          }

          this.$set('sort', field);
        },

        setPage: function(page) {
          if (page < 0 || page >= this.$get('pagesNumbers').length) {
            return;
          }

          this.$set('page', page);
        }
      }
    });

    Vue.filter('paginate', (array, page, count) => {
      return array.slice(page * count, (page + 1) * count);
    });

    Vue.filter('nearestPages', (array, n) => {
      if (array.length <= 10) { return array; }
      var offset = 4;
      var left = Math.max(n - offset, 0)
      var right = Math.min(n + offset + 1, array.length - 1);

      if (n < offset) {
        right = 2 * offset + 1;
      }

      if (n > array.length - offset) {
        left = array.length - 2 * offset;
      }

      return array.slice(left, right);
    });

    fetch('pieces.json')
    .then(res => res.json())
    .then(pieces => {
      vm.$set('pieces', pieces);

      var pagesTotal = Math.ceil(pieces.length / vm.$get('count'));
      var pagesNumbers = Array.apply(null, Array(pagesTotal)).map((_, i) => i);
      vm.$set('pagesNumbers', pagesNumbers);
    });
  </script>
</body>
</html>
